.checkCycle-container {
	&-title {
		display: block;
		padding: 40rpx 40rpx 0;
		font-size: 50rpx;
		font-weight: 500;
	}
	
	&-list {
		position: relative;
		padding: 40rpx 0;
		margin-left: 40rpx;
		width: 710rpx;
		border-bottom: 1rpx solid #ccc;
	}
	
	&-list::after {
		content: '';
		position: absolute;
		right: 40rpx;
		top: 50%;
		width: 20rpx;
		height: 20rpx;
		transform: rotate(45deg) translateY(-50%);
		border-top: 1rpx solid #ccc;
		border-right: 1rpx solid #ccc;
		
	}
}